.register-div {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/450520.jpg');
    background-size: 600px, 300px;
    border-radius: 20px;
    width: 500px;
}

.register-heading {
    text-align: center;
    color: white;
    margin: 10px;

}

.registerbutton {
    text-align: center;
    height: 40px;
    width: 90px;
    border-radius: 20px;
}

.email-div {
    text-align: center;
}

.password-div {
    text-align: center;
}

.loginbutton {
    text-align: center;
    height: 40px;
    width: 70px;
    border-radius: 20px;
}

.loginbutton-div {
    text-align: center;
    margin: 15px;
}

.email-field {
    height: 38px;
    width: 300px;
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 20px;
}

.password-field {
    height: 38px;
    width: 300px;
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 20px;
}

.registerbutton {
    text-align: center;
    height: 40px;
    width: 90px;
    border-radius: 20px;
}

.registerbutton-div {
    text-align: center;
    margin: 10px;
}

.goback-link a {
    text-decoration: none;
    color: white;
}

.goback-link {
    margin: 10px;
}